	/* body image blured */

body{
	background: url('../images/fond.png') fixed no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
    margin: 0;
}

	/* audio box */
audio{
	position: absolute;
	z-index: 1;
	border-radius: 25px;
	width: 80px;
	height: 25px;
	top: 0;
}

	/*  delimited box for our templat */
#Grow_playground{
  box-sizing: border-box;
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 5px 5px 10px rgba(28,57,6);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 1px solid black;
  margin-top: 60px;    
}

	/* the side-bar sizer */
#sideBar{
  width: 256px;
  height: 766px;
  float: left;
  background-color: white;
}

/*  set the different boxes  */

#container{
  width: 766px;
  height: 766px;
  background-color: white;
  box-sizing: border-box;
  float: right;
}

#skills,#habits,#ToDos,#Calendar{
  width: 50%;
  height: 50%;
  border: 1px solid gray;
  float:left;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-box;
}


#ToDos{
	background-image: url('../images/cover-todolist.jpg');
	background-size: cover;
}
