	/* body image blured */

body{
	background: url('../images/fond.png') fixed no-repeat;
	background-size: cover;
}


	/*  delimited box for our templat */
#Grow_playground{
	width: 1024px;
	height: 768px;
	background: white;
	margin: 10px auto;	
	box-shadow: 5px 5px 10px rgba(28,57,6);
	border-radius: 15px;
	display: flex;
	zoom : 80%;
}

	/* the side bar sizer */
#sideBar{
	position: relative;
	height: 100%;
	width: 339px;
	border: 1px groove rgba(44,103,70);
	border-radius: 15px;
}

/*  boxes sizer */

#container{
	display: flex;
	flex-wrap : wrap;
}

#skills,#habits,#ToDos,#Calendar{
	position: relative;
	border-radius: 15px;
	border: 1px groove rgba(44,103,70);
	height: 384px;
	width: 384px;
}

