body{
	background: url('../images/fond.png');
}

#Grow_playground{
	width: 1024px;
	height: 768px;
	background: white;
	margin: auto;	
	box-shadow: 5px 5px 10px rgba(28,57,6);
	border-radius: 15px;
		
}