	/* body image blured */

body{
	background: url('../images/fond.png') fixed no-repeat;
	background-size: cover;
  margin: 0;
}

 /* Font Define */
@font-face{

  font-family: 'SF';

  src: url('../polices/Mon Cherry Personal Use.ttf');
  src: url('../polices/Mon Cherry Personal Use.ttf') format('truetype');
}

@font-face{

  font-family: 'LDPU';

  src: url('../polices/Lovely Day Personal Use.ttf');
  src: url('../polices/Lovely Day Personal Use.ttf') format('truetype');
}


	/*  delimited box for our template */
#Grow_playground{
  box-sizing: border-box;
  background: none;
  width: 1124px;
  height: 630px; 
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 5px 5px 10px rgba(28,57,6);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1000;
  -webkit-animation: enterFromBottom .7s .3s ease-out both;
          animation: enterFromBottom .7s .3s ease-out both;
}
/*  logout logo   */
.logout{
  position: absolute;
  z-index: 10000;
}


	/* the side-bar sizer */
#sideBar{
  width: 22.8%;
  height: 100%;
  float: left;
  background-color: white;
}

/*  set the different boxes  */

#container{
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  float: right;
}

#skills,#habits,#ToDos,#Calendar{
  width: 47%;
  height: 49%;
  float:left;
  margin-bottom: 13px;
  margin-right: 20px;
  box-sizing: border-box;
  overflow: auto;
  display: inline-box;
  background: white;
}

#habits{
  background-image: url('../images/border1.03.png');
  background-size: 100% 100%;
}
#skills{
  background-image: url('../images/border1.04.png');
  background-size: 100% 100%;
}
#Calendar{
  background-image: url('../images/border1.05.png');
  background-size: 100% 100%;
}


/*  *********  Header-list        ***********   */

#ToDos{
	background-image: url('../images/border1.02.png');
  background-size: 100% 100%;
}

.header-list{ 
  position: absolute;
  transform:translate(140%,80%);
  font-size: 15px;
  color: rgb(24,255,0);
  font-family: 'LDPU';
}

#general-task{
  position: relative;
  padding-top: 15%;
  font-size: 10px;
}

#input-task{
  position: relative;
  text-align: center;
}

.todo-list{
  padding-top: 5%;
  padding-right: 10%;
  font-size: 10px;
  height: 188px;
  overflow: auto;
}

.todo-list li{
  list-style: none;
  padding-right: 2%;
  margin-bottom: 2%;
  width:100%;
  height: 50px;
  margin-right: 15px;
  background: url('../images/fill.png') no-repeat;
  background-size: 100% 100%;
  border : 1px solid green;
  box-shadow: 0 2px 0 green;
}

.toggle{
  transform:translate(57%,110%);
  font-size: 15px;
}


.delete{
  position: relative;
  cursor: pointer;
  float: right;
  font-size: 10px;
  padding-top: 10px;
  color: red;
}

.todo-task-li{
  padding-left: 14px;
  font-size: 10px;
}

.calendarItem{
  position: absolute;
  font-size: 14px;
  transform: translate(350%,42%);
  cursor: pointer;
}

.link-boxes{
  position: absolute;
  transform:translate(182%,160%);
  z-index: -1;
}
.link-boxes1{

  position: absolute;
  transform:translate(182%,1410%);
  z-index: -1;
}
.link-boxes2{

  position: absolute;
  transform:translate(515%,14%);
  z-index: -1;
}
.link-boxes3{

  position: absolute;
  transform:translate(515%,1630%);
  z-index: -1;
}

/*  General Todos  All  */

#all-Todos{
  position: absolute;
  height: 400px;
  width: 270px;
  background: url('../images/border2.png');
  background-size: 100% 100%;
  background-color: #eeeeee;
  transform:translate(-60%,57%);
  border-radius: 10px;
  box-shadow: -3px 3px 6px #eeeeee;
  z-index: 1000;
}
.all-Todos-title{
  padding-top: 68px;
  font-size: 12px;
  text-align: center;
  color: #590050;
}

.img-all{
  position: relative;
  transform:translate(-55%,-35%);
  cursor: pointer;
  float: right;
}
.closeIcon{
  position: relative;
  float: right;
  width: 11px;
  cursor: pointer;
  transform:translate(-32%,-830%);
}


/*  -------------  the different field   -------------------*/


#Important_urgent{
  margin-top: 20%;
}


/* ----------------field title -------------------*/
#title-IU,#title-I,#title-U,#title-NIU,#title-A{  
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
}

/* ---------------------cursor hover title ------------------------ */
#title-IU,#title-I,#title-U,#title-NIU,#title-A:hover{
  font-size: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*  ------------------block tasks-------------------------- */
#important_urgent-task,#important-task,#urgent-task,#not_important-urgent-task{
  position: relative;
  margin-top: 5px;
  height: 70px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  overflow: auto;
  display: none;    
}

/*  make the boxe of title small */
#Important_urgent h1, #important h1, #urgent h1, #not_important-urgent h1{
  margin-top: 4px;
  margin-bottom: 6px;
  font-size: 10px;
}


#important_urgent-task div,#important-task div,#urgent-task div,#not_important-urgent-task div{
  display: block;
  background-image: url('../images/fill.png');
  padding: 10px 0px 10px 0px;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 20px;
  margin: 0 7px;
  box-shadow: 2px 2px 0px black;
}


/*  ------------------important & urgent ----------------------------- */
#title-IU{
  border-bottom: 1px solid red;
}

#Important_urgent h1{
  color: red;
}

#title-IU:hover{
  background-color: rgba(255,4,4,0.3);
  cursor: pointer;
}




/*  ------------------- important --------------------------*/
#title-I{
  border-bottom: 1px solid brown;
}

#important h1{
  color: brown;
}

#title-I:hover{
  background-color: rgba(211,100,67,0.4);
  cursor: pointer;
}



/* -----------------------urgent ------------------------- */
#title-U{
  border-bottom: 1px solid green;
}
#urgent h1{
  color: green;
}

#title-U:hover{
  background-color: rgba(143,237,126,0.4);
  cursor: pointer;
}





/*  -------------------------- not important & not urgent ---------------------------- */
#title-NIU{
  border-bottom: 1px solid #03327f;
}
#not_important-urgent h1{
  color: #03327f;
}

#title-NIU:hover{
  background-color: rgba(69,222,239,0.4);
  cursor: pointer;
}

/* space in the end to show the box */
#not_important-urgent{
  margin-bottom: 10px;
}

