	/* body image blured */

body{
	background: url('../images/fond.png') fixed no-repeat;
	background-size: cover;
  margin: 0;
}

 /* Font Define */
@font-face{

  font-family: 'SF';

  src: url('../polices/Mon Cherry Personal Use.ttf');
  src: url('../polices/Mon Cherry Personal Use.ttf') format('truetype');
}

@font-face{

  font-family: 'LDPU';

  src: url('../polices/Lovely Day Personal Use.ttf');
  src: url('../polices/Lovely Day Personal Use.ttf') format('truetype');
}


	/*  delimited box for our template */
#Grow_playground{
  box-sizing: border-box;
  background: none;
  width: 1124px;
  height: 630px; 
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 5px 5px 10px rgba(28,57,6);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1000;
  -webkit-animation: enterFromBottom .7s .3s ease-out both;
          animation: enterFromBottom .7s .3s ease-out both;
}
/*  logout logo   */
.logout{
  position: absolute;
  z-index: 10000;
}


	/* the side-bar sizer */
#sideBar{
  width: 22.8%;
  height: 100%;
  float: left;
  background-color: white;
}

/*  set the different boxes  */

#container{
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  float: right;
}

#skills,#habits,#ToDos,#Calendar{
  width: 50%;
  height: 50%;
  border: 1px solid gray;
  float:left;
  box-sizing: border-box;
  overflow: auto;
  display: inline-box;
  background: white;
}

#habits{
  background-image: url('../images/border1.03.png');
  background-size: 100% 100%;
}
#skills{
  background-image: url('../images/border1.04.png');
  background-size: 100% 100%;
}
#Calendar{
  background-image: url('../images/border1.05.png');
  background-size: 100% 100%;
}


/*  *********  Header-list        ***********   */

#ToDos{
	background-image: url('../images/border1.02.png');
  background-size: 100% 100%;
}

.header-list{ 
  position: absolute;
  transform:translate(140%,80%);
  font-size: 15px;
  color: rgb(24,255,0);
  font-family: 'LDPU';
}

#general-task{
  position: relative;
  padding-top: 15%;
  font-size: 10px;
}

#input-task{
  position: relative;
  text-align: center;
}

.todo-list{
  padding-top: 5%;
  padding-right: 10%;
  font-size: 10px;
}

.todo-list li{
  list-style: none;
  padding-right: 2%;
  margin-bottom: 1%;
  width:100%;
  height: 50px;
  margin-right: 15px;
  background: url('../images/fill.png') no-repeat;
  background-size: 100% 100%;
  border : 1px solid green;
  box-shadow: 0 2px 0 green;
}

.toggle{
  transform:translate(57%,110%);
  font-size: 15px;
}


.delete{
  position: relative;
  cursor: pointer;
  float: right;
  font-size: 14px;
  color: red;
}

.todo-task-li{
  padding-left: 14px;
  font-size: 10px;
}

.calendarItem{
  position: absolute;
  font-size: 14px;
  transform: translate(350%,42%);
  cursor: pointer;
}

.link-boxes{
  position: absolute;
  transform:translate(182%,160%);
  z-index: -1;
}
.link-boxes1{

  position: absolute;
  transform:translate(182%,1410%);
  z-index: -1;
}

/*  ---------------------------------------------------   */
/*  enter from bottom */

@-webkit-keyframes enterFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
 
@keyframes enterFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -45%);
            transform: translate(-50%, -45%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}


/* enter from left */

#skills{

  -webkit-animation: enterFromleft .7s 1s ease-out both;
          animation: enterFromleft .7s 1s ease-out both;
}

@keyframes enterFromleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(5%, 0%);
            transform: translate(5%, 0%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

/*  enter from right  */

#habits{

  -webkit-animation: enterFromtop .7s 2s ease-out both;
          animation: enterFromtop .7s 2s ease-out both;
}

@keyframes enterFromtop {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, -10%);
            transform: translate(0%, -10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

/*  enter from down  */

#ToDos{

  -webkit-animation: enterFromdown .7s 3s ease-out both;
          animation: enterFromdown .7s 3s ease-out both;
}

@keyframes enterFromdown {
  0% {
    opacity: 0;
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

#Calendar{

  -webkit-animation: enterFromleft .7s 4s ease-out both;
          animation: enterFromleft .7s 4s ease-out both;
}

@keyframes enterFromleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(5%, 0%);
            transform: translate(5%, 0%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}


/*  showing the chain  */
.link-boxes{

  -webkit-animation: enterFromShow .7s 5s ease-out both;
          animation: enterFromShow .7s 5s ease-out both;
}

@keyframes enterFromShow {
  0% {
    opacity: 0;
    z-index: -1;
    -webkit-transform: translate(182%, 160%);
            transform: translate(182%, 160%);
  }
  100% {
    opacity: 1;
    z-index: -1;
    -webkit-transform: translate(182%, 160%);
            transform: translate(182%, 160%);
  }
}.link-boxes1{

  -webkit-animation: enterFromShow1 .7s 5s ease-out both;
          animation: enterFromShow1 .7s 5s ease-out both;
}

@keyframes enterFromShow1 {
  0% {
    opacity: 0;
    z-index: -1;
    -webkit-transform: translate(182%, 1410%);
            transform: translate(182%, 1410%);
  }
  100% {
    opacity: 1;
    z-index: -1;
    -webkit-transform: translate(182%, 1410%);
            transform: translate(182%, 1410%);
  }
}


/*  ---------------------------------------------------   */


